/*CSS for personalwebsite.html*/
.websitepics{
    width: 100%;
    display:flex;
    align-items: flex-end;
}

.desktoptext{
    width: 70%;
    margin-left: 1%;
}

.desktoppic{
    width: 100%;   
    box-shadow: 10px 10px 10px;
    color:black;
    border-radius: 12px;

}

.mobilepic{   
    width: 30%;
    box-shadow: 10px 10px 10px;
    color:black;
    border-radius: 12px;
}
