*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(56,56,56);
    background: linear-gradient(117deg, rgba(56,56,56,1) 0%, rgba(130,130,130,1) 100%); 
}

.content {
    padding-left: 8%;
    padding-right: 8%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e2de84;
    box-shadow: 5px 5px 5px;
    padding: 40px 0;
}

.logo {
    width: 180px;
    margin-top: 3em;
    margin-left: 8%;
    position: absolute;
    transform: rotate(-5deg);
}

.menu-icon{
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 8%;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    color: black;
    font-size: 120%;
    text-decoration: none;
    padding-left: 20px;
    font-style: italic; 
}

nav ul li a:hover{
    color: #ecfeaa;
    cursor: pointer;
}

#lang{
    font-size: 225%;
    position: absolute;
    margin-top: -0.9em;
    font-style: normal; 
}

.activeTab{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

#menuList{
    margin-top: -1em;
}

h1{
    color: black;
}

h2{
    color: #222222;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 80%;
    position: relative;
    background-color: #e2de84;
    padding: 2%;
    box-shadow: 10px 10px 10px;
    z-index: 2;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .fotovonmir{
    width: 50%;
    box-shadow: 10px 10px 10px;
    margin-left: 30%;
}

.col-2 .catFront {
    position: fixed;
    width: 40%;
    bottom: 0;
    right: 0;
}

.comic {
    width: 125%;
    box-shadow: 10px 10px 10px;
    margin-left: 50%;
    color: black;
}

.socialmedia img{
    height: 30px;
    margin: 5px;
    cursor: pointer;
    background-color: #e2de84;
    padding: 5px;
    box-shadow: 5px 5px 5px;
}

.socialmedia{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
}

.socialmedia a{
    color: black;
}

#aboutmelinks{
    margin-top: 10px;
}

#aboutmelinks li{
    list-style: none;
    display: inline-block;
}

#aboutmelinks li a{
    color: black;
    font-size: 100%;
    padding: 5px;
    text-decoration: none;
    background-color: #e0d94c;
    box-shadow: 5px 5px 5px black;
}

#aboutmelinks li a:hover{
    color: #ecfeaa;
    cursor: pointer;
}

#catpics img{
    width: 50%;
    margin: 8px;
    box-shadow: 10px 10px 10px;
}

.technolist li{
    color: black;
    font-size: 100%;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    background-color: #e0d94c;
    box-shadow: 5px 5px 5px black;
    list-style: none;
}

table{
    margin-left: 10%;
    text-align: center;
}

table tr th{
    color: black;
    font-size: 100%;
    padding: 5px;
    background-color: #e0d94c;
    box-shadow: 5px 5px 5px black;
}

table tr td{
    color: black;
    font-size: 100%;
    padding: 5px;
    background-color: #e2de84;
    box-shadow: 5px 5px 5px black;
}

.neofetch{
    width: 100%;
    box-shadow: 10px 10px 10px;
}

@media only screen and (max-width:900px){

    .navbar{
        max-height: 1.5em;
    }

    nav ul{
        width: 100%;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 2;
        background-color: #e2de84;
        box-shadow: 10px 10px 10px;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        box-shadow: 0 0 0;  
        cursor: pointer;
        margin-right: 10px;
    }

    .menu-icon{
        display: inline;
        width: 9em;
        margin-right: 4%;
    }

    .menu-icon a{
        font-size: 300%;
        margin-right: 10%;
        cursor: pointer;
    }

    .menu-icon img{
        width: 45px;
        cursor: pointer;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
        z-index: 3;
    }

    .logo{
        margin-left: 4%;
        width: 150px;
        margin-top: 1em;
        z-index: 4;
    }

    .row{
        flex-direction: column;
        margin: 50px 0
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .col-2 .fotovonmir{
        width: 77%;
        transform: translateX(0px);
    }

    .col-2 .catFront {
        width: 65%;
    }

    .col-1{
        flex-basis: 100%;
    }

    #aboutmelinks li{
        margin: 1%;
    }

    table{
        margin: 1%;
    }
}

@media only screen and (max-width:600px){
    .col-2 .catFront {
        width: 85%;
    }
}

@media only screen and (max-width:500px){
    .col-2 .catFront {
        width: 100%;
    }
}